{
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "trailingComma": "all",
    "endOfLine": "lf",
    "overrides": [
        {
            "files": [".github/workflows/*"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
